:root {
  --base-dark: #171717;
  --secondary-dark: #292929;
  --base-white: #FFFFFF;
  --darkGray: #8A8A8A;
  --accent: #FF5F00;
  --error: #E12828;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-tt), sans-serif;
  position: relative;
}

button, input, a {
  font-family: var(--font-tt), sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  font-family: var(--font-tt), sans-serif;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.slide.selected {
  background: none;
}